<h1> Companies </h1>

<% @companies.each do |company| %>
<% require "pry"; binding.pry %>
  <h3><a href="/companies/<% company.id %>"><%= company.name %></a></h3>
  <p> Local CO Company? <%= company.based_in_co %>
  <p> Year Founded: <%= company.year_founded %></p>
<% end %>