<h1> Companies </h1>
<% companies = @companies.sort_by { |company| company.created_at } %>
<% companies.reverse! %>
<% companies.each do |company| %>
  <h3><a href="/companies/<%= company.id %>"><%= company.name %></a></h3>
  <p>Created at: <%= company.readable_date %>
<% end %>